*{
    margin: 0px;
    padding: 0px;
    /* font-family: 'DM Sans', sans-serif; */
    /* font-family: 'Foldit', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Vina Sans', sans-serif; */
}
html {
    scroll-behavior: smooth;
}
nav{
    padding: 10px 0px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1;
}
/* .nav-link.text-body-emphasis {
    color: white;
  } */
.logo{
    width: 100%;
    height: 80px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.links{
    text-decoration: none;
    color: rgb(233, 230, 230);
    font-weight: 600;
    margin: 0px 11px;
}
.text-heading{
    text-align: center;
    margin: 10% 0% 3% 0%;

}
ul{
    padding-left: 7rem;
    display: inline-flex;
    /* list-style: none; */
    margin-left: auto;
    list-style: none;
    font-size:smaller;
}
li{
    padding-left: 16px;

}
.nav-logo{
    margin: 0% 40% 0% 2%;
}
.bg_img{
    /* background-image: url(./Oh-the-Places-youll-go.jpg); */
    width: 100%;
    /* height: 500px; */
}
.button_color_enquery{
    margin: 0% 0% 0% 0%;

    background-color: blueviolet;
    align-items: center;
}
.footer-enquery{
    margin: 0% 0% 0% 46%;
}
.bg-button{
    margin: -9% 0% 7% 46%;
}
.caros_h{
    -webkit-text-stroke: 1px white; /* width and color */
    font-family: sans; color: rgb(0, 55, 255);
    font-weight: 500;
    font-size: 60px;
    /* color: blue; */
}
#for_space{
    margin: 0% 0% 3% 0%;
}
.card_img{
    width: 150px;
    height: 150px;
    margin: 18% 10% 3% 18%;

}
.button5 {border-radius: 48px;}

.button {
    background-color: #0420aa;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
  }
.button5:hover{
    background-color: red;
}
.carousel-caption>p{
    color: white;
}


.space{
    padding: 5% 5% 5% 5%;
    /* background-color: aqua; */
    border:1px solid #010102;
    border-radius: 25px;
    
}
.space>img{
    border-radius: 25px;
}
.no_img{
    width: 192px;height: 192px;
    border-radius: 25px;
}
.no_img:hover{
    background-color: aqua;
}
a:hover img {    
    background: blue;
}
.imgSpace {
    position: relative;
    overflow: hidden;
  }

  .imgSpace img {
    /* width: 100%;
    height: auto; */
    transition: transform 0.3s;
  }

  .imgSpace:hover img {
    transform: scale(1.2); /* You can adjust the scale factor as needed */
  }


  .container {
    margin-top: 20px;
  }

  .space {
    position: relative;
    overflow: hidden;
  }

  .imgSpace:hover .overlay {
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 247);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  .overlay h3 {
    color: rgb(252, 252, 255);
  }

  .overlay p {
    color: rgb(26, 18, 18);
  }
.overlay p span{
    color: #0420aa;
}

  .overlay button {
    background-color: red;
    border-radius: 12px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
  }


.or_space{
    padding: 5% 5% 5% 5%;
    background-color: rgb(247, 251, 251);
    border:1px solid #dadae0;
    border-radius: 25px;

}
.color-green {
    color: green;
  }
.cup_img{
    width: 250px;
}
.icon-collections {
    white-space: nowrap; /* Prevent line breaks */
  }
  
  .icon {
    display: inline-block; /* Display icons in a line */
    margin-right: 10px; /* Add some space between icons */
  }
  #cuple_logo{
    margin: 0% 0% 0% 48%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode:darken;
  }
  .footer-img{
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode:color-dodge;
  }
.icon .brand{
    color: white;
    animation: move 1s;
}
.icon:hover .brand{
    color:gold;
    animation: move 1s;
}
.footer_heading{
    color:orange;
}
.footer_subheading{
    color: white;
}